.audio-parent {
    background: #1515157b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.audio-parent * {
    margin: 0.5rem;
}

.audio-buttons-parent {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.audio-icon {
    width: 2.5rem;
    height: 2.5rem;
    background: lightcoral;
    border-radius: 10px;
}

.audio-popup-parent {
    z-index: 7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #737677b0;
    border: 2px solid white;
    /* grid-template-rows: repeat(); */
    gap: 1rem;
    position: fixed;
    left: 40%;
    top: 10%;
    padding: 1rem;
    z-index: 20;
    border-radius: 10px;
}

.sound-button {
    background: none;
    border-radius: 10px;
    border: 1px solid white;
    padding: 1.5rem;
    position: relative;
    padding-bottom: 1;
    margin: 0;
    transition: background 150ms ease-in 100ms;
}

.sound-button:hover {
    background: #97bccf8e;
}

.sound-button img {
    width: 5rem;
    height: 5rem;
}

.sound-title {
    font-size: medium;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 150ms ease-in opacity;
}

.sound-title.hidden {
    opacity: 0;
}

.close-button {
    width: 5rem;
    height: 2rem;
    position: absolute;
    bottom: 5px;
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    right: 5px;
    opacity: 1;
}

.audio-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
    position: relative;
}

.audio-playing-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 2rem;
    height: 2rem;
}
